#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    
}
.abme{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.tab-links::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    background: #ff004f;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 24px 0;
    list-style: none;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
  display: block;
}