*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
/* --------------------header------------------- */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(pexels-photo-31112231.webp);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 0, 0);
   
}
.left p{
    color: white;
    font-variant: small-caps;
    font-size: 40px;
}
.left p::first-letter{
    color: #ff004f;
    font-size: 40px;
}
.left{
    font-size: 1.9em;
    margin-left: -10px;
 
}
.right ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.right ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
}
.right ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.right ul li a:hover::after{
    width: 100%;
}

/* -----------leftsection------------- */
.leftsection{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 200px;
    color: white;
}
.work{
    font-size: 30px;
    font-weight: 100;
    opacity: 90%;
}
.sss{
    font-size: 60px;
}
.name{
    color: #ff004f;
    font-size: 60px;
}

#element{
    color: rgb(255, 255, 255);
    font-size: 60px;

}

